.not-header {
    width: 90%;
    background-color: #ffe7ce;
    border-radius: 0 0 16px 16px;
    padding: 1rem 0;
    margin: 0 auto;
}

.not-header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
    gap: 1rem;
}

.not-logo-image {
    height: 40px;
    margin: 0 auto;
}

.not-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-logo-text {
    color: #000;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.not-nav-menu {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.not-nav-link {
    height: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.not-nav-link:hover {
    color: #ff6600;
}

.not-auth-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 18%;
    gap: 1rem;
    flex-shrink: 0;
    white-space: nowrap;
}

.not-btn-login,
.not-btn-signup {
    text-align: center;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #ff7b00;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    flex-shrink: 0;
}

.not-btn-login {
    flex: 1;
    max-width: 100px;
}

.not-btn-signup {
    flex: 2;
}

.not-btn-login:hover,
.not-btn-signup:hover {
    background-color: #ffffff;
    color: #000000;
}