.main-first-background {
    background-image: url("https://i.postimg.cc/XNgwVbNC/Frame-2.png");
    background-size:cover;
    height: 800px;
    width: 100%;
}

.main-first-div {
    background: transparent;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-text-header {
    font-weight:  bold;
    font-size: 58px;
    max-width: 600px;
    margin-bottom: 0;
    margin-top: 130px;
}

.main-text-second {
    font-size: 20px;
    color: #474747;
}

.main-image {
    max-width: 600px;
    max-height: 600px;
    object-fit: cover;
    padding: 0;
    padding-top: 65px;
}

.main-second-div {
    min-height: 1200px;
    max-width: 1600px;
    margin: 0 auto;
}

.main-third-div {
    max-width: 1600px;
    margin: 0 auto;
}

.main-third-text-header {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
    padding-top: 30px;
}

.main-third-text-second {
    font-weight: 800;
    font-size: 25px;
    color: #00000099;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.main-third-btn {
    background-color: #ff6600;
    color: black;
    border: none;
    padding: 15px 60px;
    font-size: 22px;
    font-weight: 800;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1)
}
.main-third-btn:hover {
    background-color: #ff7417;
    transform: scale(1.05);
}

.main-third-btn:active {
    transform: scale(0.95);
    color: white
}
.main-fourth-div {
    min-height: 600px;
}

.main-fourth-header {
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
}

.main-feedback-card {
    width: 370px;
    height: 220px;
    padding: 10px 20px;
    border-radius: 20px;
    border: solid 3px rgba(243, 198, 63, 0.623);;
    box-shadow: 0px 1px 2px, #171A1F1A 0px 2px 4px, #171A1F1A 0px 4px 8px, #171A1F1A 0px 8px 16px;
    margin-bottom: 50px;
}

.main-feedback-author {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.main-feedback-icon {
    width: 64px;
    height: 64px;
    border-radius: 1000px;
    background-color: #ccf7ae;
}

.main-feedback-text {
    color: #171A1F;
}