.radio-group-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.radio-item-container {
    display: flex;
    align-items: center;
}

.radio-item {
    display: none;
}

.radio-item-label {
    color: black;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.radio-item-label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #ff7b00;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.radio-item:checked + .radio-item-label::before {
    content: "";
    background-color: #ff7b00;
    box-shadow: inset 0 0 0 4px #fff;
}
