.header {
    width: 90%;
    background-color: #ffe7ce;
    border-radius: 0 0 16px 16px;
    padding: 1rem 0;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
    gap: 2rem;
}

.logo-image {
    height: 40px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text {
    color: #000;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.nav-link ,.search-btn {
    height: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-link:hover, .search-btn:hover {
    color: #ff6600;
}

.btn-cart {

    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.search-input {
    color:#000;
    background-color: #ff6600;
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 45px;
    border-radius: 45px;
    font-size: 1rem;
    width: 300px;
}