.cart-book-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border: solid 8px #ecaa63;
    border-radius: 20px;
    padding: 0.5rem;
}

.cart-book-meta {
    display: flex;
    gap: 2rem;
}

.cart-book-important-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.3rem;
    padding-bottom: 15px;
    padding-right: 10px;
}

.cart-book-quantity-container {
    display: flex;
    align-items: baseline;
    border: solid 5px #c98e50;
    border-radius: 1000px;
}

.cart-book-quantity {
    font-weight: 600;
}

.cart-book-btn {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.cart-book-btn:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.cart-book-btn:active {
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
}