.loader-and-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: 100vh;

}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
}

.products-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffedda;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    height: 340px;    
    transition: box-shadow 0.3s;
}

.products-form:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}